/* Header Section */

.blogPageImageContainer {
    width: 100%;
    img {
        width: 100%;
    }
}

/* Main Section of Blog Begins */

body {
    background: $primary4;
    padding-bottom: 50px;
}

.blogTitle {
    height: 1rem;
    h2 {
        position: absolute;
        top: 26vw;
    }
}
.blogColumns {
    display: flex;
    margin-top: 50px;
}

.column1 {
    width: 30%;
    .blogImageContainer {
        background: $white;
        padding: 30px;
        width: 100%;
        .image {
            width: 100%;
            margin: 0;
        }
        h5 {
            padding-top: 10px;
        }
    }
}

.recentPosts {
    width: 100%;
    background: $white;
    margin-top: 20px;
    ul {
        margin-left: 30px;
    }
}

.column2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-top: 0;
    width: 70%;
}


.recentPosts,
.blogPosts {
    padding: 30px;
}

.blogPosts {
    background: $white;
    margin-bottom: 40px;
    h4 {
        padding-bottom: 20px;
    }
}

.blogImageContainer p,
.blogPosts p {
    padding: 10px 0;
    font-family: $bodyFont;
}

.blogFlex {
    display: flex;
    .blog p {
        padding-left: 20px;
    }
}
.hide { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    input {
        display: flex;
        border: none;
        width: 49%;
        height: 60px;
        padding-left: 20px;
    }

    .email {
        margin-left: 2%;
    }
    .textarea {
        width: 100%;
        height: 300px;
        border: none;
        margin: 20px 0; 
        resize: none;
    }
}

form button {
    width: 100%;
    margin-bottom: 20px;
}

input,
.textarea {
    font-family: $bodyFont;
    vertical-align: top;
}



/* Main Section of Blog ends */