/* Contact Page Styling */

.contactPageImageContainer {
    img {
        width: 100%;
    }
}

section {
    background: $primary4;
    padding-top: 50px;
    margin: 0;
    .contactPosition h2 {
        position: absolute;
        top: 26vw;
    }
}

.sectionFlex {
    display: flex;
    margin-top: 50px;
}

.contactInfo {
    background: $white;
    padding-top: 50px;
    width: 45%;
    height: 320px;
    .contactFlex {
        display: flex;
        list-style: none;
        padding: 20px 0 10px 30px;
    }
}

.contactIcons {
    display: flex;
    list-style: none;
    li {
        font-size: 1.5rem;
        padding-right: 30px;
    } i {
        color: $primary1;
    }
}

.contactAddress {
    padding: 30px;
    ul {
        list-style: none;
        padding: 0;
        color: $black;
        font-family: $bodyFont;
        li {
            padding-bottom: 15px;
        }
    ul:first-child {
        font-weight: 800;
    }
    }
}

.contactForm {
    margin-left: 40px;
    input {
        width: calc(100% / 2 - 2%);
    }
    .name {
        margin-right: 2%;
    }
    .textarea {
        width: 100%;
    }
}