.contactPageImageContainer {
    height: 360px;
    img {
        width: 100%;
    }
}



section {
    background: $primary4;
    padding-top: 50px;
    margin: 0;
    .contactPosition h2 {
        position: relative;
        bottom: 105px;
    }
}

.contactInfo {
    background: $white;
    padding-top: 50px;
}
.contactFlex {
    display: flex;
    padding: 20px;
}

.contactFlex p i {
    color: $primary1;
}

.contactAddress p i {
    color: $black;
}

.contactAddress {
    padding: 20px;
    ul {
    list-style: none;
    padding: 0;
    }
}
