/* Header Section for the Home Page Begins */

.homePage {
    background: $primary3;
    height: 60vh;
    min-height: 600px;
    overflow: hidden;
    .wrapper {
        max-width: 1200px;
        width: 85%;
        margin: 0 auto;
    }
}

.imageContainer {
    width: calc(85% / 2);
    height: 800px;
    .headerImage {
        position: absolute;
        top: 125px;
        width: 31%;
        max-width: 475px;
        z-index: 10;
        box-shadow: 20px 20px white;
    }
}

.headerContainer {
    display: flex;
    align-items: center;
    width: calc(85% / 2);
    h1 {
        position: relative;
        bottom: 80px;
        font-size: $headerFontSize1;
    }
    .position {
        position: relative;
        right: 105px;
        bottom: 115px;
        img {
            width: 150px;
        }
    }
}

/* Main Section of the Home Page Begins */

/* Section 1 Begins */

.section1 {
    padding-top: 50px;
    .whosHarper {
        padding-top: 60px;
        width: 40%;
        margin-left: 45%;
        align-items: right;
        h3,
        p {
            padding-bottom: 30px;
        }
    }
}

.homeImage2 {
    width: 100%;
}

button {
    background: $accent;
    font-family: $headerFont;
    font-size: $mainFontSize;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    margin-bottom: 100px;
}

/* Section 2 of Home Page Begins */

.section2 {
    height: 100%;
    padding-bottom: 50px;
    background: $primary4;
}

.flex,
.iconFlex {
    display: flex;
    padding-bottom: 30px;
}

.iconFlex {
    width: 50%;
    padding-bottom: 50px;
    .iconContainer {
        background: $primary3;
        height: 45px;
        width: 150px;
        border-radius: 50%;
        i {
            position: relative;
            left: 30%;
            top: 30%;
        }
    }
    .textContainer {
        padding-left: 25px;
    }
}

/* Section 3 of Home Page Begins */

.section3,
.section5 {
    background: $white;
}

.factoryImage {
    max-width: 600px;
    width: 90%;
}

/* Section 4 of Home Page Begins */

.section4 {
    padding: 50px 0;
}


.journeyImageContainer {
    width: 30%;
    .journeyImage {
        width: 100%;
        box-shadow: 15px 15px $primary1;
    }
}

.journeyTextContainer {
    width: 70%;
    margin-left: 50px;
    p,
    button {
        margin-top: 35px;
    }
}

/* Section 5 of Home Page Begins additional text */

.section5 {
    padding: 50px 0;
}
.section5ImageContainer {
    width: 100%;
    margin-right: 50px;
    padding-top: 25px;
    .sectFiveImage {
        width: 100%;
    }
}