/* Header Section for the Home Page Begins */

.homePage {
    background: $primary3;
    height: 60vh;
    min-height: 600px;
    overflow: hidden;
    .wrapper {
        max-width: 1200px;
        width: 85%;
        margin: 0 auto;
    }
    .flex {
        display: flex;
        .imageContainer {
            width: 45%;
        }
        .headerContainer {
            width: 40%;
        }
    }
}

.imageContainer {
    width: calc(85% / 2);
    height: 100%;
    .headerImage {
        position: absolute;
        top: 125px;
        width: 31%;
        max-width: 475px;
        z-index: 10;
        box-shadow: 20px 20px white;
    }
}

.headerContainer {
    display: flex;
    align-items: center;
    width: calc(85% / 2);
    h1 {
       margin-top: 60%;
        font-size: $headerFontSize1;
    }
    .position {
        position: relative;
        bottom: -205px;
        left: -105px;
        width: 100%;
        height: 100%; 
        img {
            width: 150px;
        }
    }
}

/* Main Section of the Home Page Begins */

/* Section 1 Begins */

.section1 {
    padding-top: 50px;
    margin-bottom: 100px;
    .whosHarper {
        padding-top: 40px;
        width: 40%;
        margin: 0 0 50px 45%;
        align-items: right;
        h3,
        p {
            padding-bottom: 30px;
        }
    }
}

.homeImage2 {
    width: 100%;
}

button {
    background: $accent;
    font-family: $headerFont;
    font-size: $mainFontSize;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
}

/* Section 2 of Home Page Begins */

.section2 {
    height: 100%;
    padding-bottom: 50px;
    background: $primary4;
}

.flex,
.iconFlex {
    display: flex;
}

.iconFlex {
    width: 100%;
    padding-bottom: 50px;
    .iconContainer {
        background: $primary3;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        i {
            position: relative;
            left: 30%;
            top: 30%;
        }
    }
    .textContainer {
        padding-left: 25px;
        width: 100%;
    }
}

/* Section 3 of Home Page Begins */

.section3,
.section5 {
    background: $white;
}

.section3 {
    padding-top: 0;
    position: relative;
    bottom: 15px;
}
.surfBackground {
    position: relative;
    width: 50%;
    height: 360px;
    background: $primary2;
    transform: translate(0, -20px);
    .surfImage {
        max-width: 600px;
        position: absolute;
        right: 120px;
        bottom: 15px;
        .surf {
            width: 100%;
            position: relative;
            left: 100px;
        }

    }
}

.harpersTravels {
    width: 40%;
    align-items: flex-end;
    h4,
    p,
    button {
        margin: 0 0 30px 80px;
        
    }
    h4 {
        padding-top: 50px;
    }
    button {
        position: relative;
        bottom: 0;
    }
}

.favouriteThings {
    flex-direction: column;
    width: 45%;
    padding-left: 7.5%;
    h4,
    p {
        padding: 0 100px 40px 0;
    }
    h4 {
        padding-top: 50px;
    }
    button {
        margin: 0 0 50px 60%;
    }
}

.factoryBackground {
    position: relative;
    top: 100px;
    width: 50%;
    height: 360px;
    background: $primary3;
    .factoryImage {
        position: absolute;
        max-width: 600px;
        width: 90%;
        .factory {
            position: relative;
            right: 25px;
            bottom: 35px;
            width: 100%;
        }
    }
}



/* Section 4 of Home Page Begins */

.section4 {
    padding: 125px 0;
}


.journeyImageContainer {
    width: 30%;
    .journeyImage {
        width: 100%;
        box-shadow: 15px 15px $primary1;
        .building {
            width: 100%;
        }
    }
}

.journeyTextContainer {
    width: 70%;
    margin-left: 50px;
    p,
    button {
        margin-top: 35px;
    }
}

/* Section 5 of Home Page Begins additional text */

.section5 {
    padding: 75px 0;
}
.section5ImageContainer {
    justify-content: space-between;
    width: calc(100% - 20px);
    margin-right: 20px;
    .sectFiveImage {
        width: 100%;
    }
}