/* Media query for screen sizes up to 1024px */

@media (max-width: 1024px) {

    /* Home Page Media Queries for screens up to 1024px */

    .flex {
        h1 {
            font-size: $headerFontSize2;
            margin-top: 75%;
        }
        .position {
            left: -70px;
            bottom: -180px;
            img {
                width: 100px;
            } 
        }
    }

    .section2,
    .section3,
    .section4,
    .section5 {
        .flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        }
    }

    .section1 .whosHarper {
        margin: 0 auto;
        text-align: center;
        width: 90%;
        button {
            margin-bottom: 50px;
        }
    }

    .iconFlex {
         width: 100%;
         .iconContainer {
             width: 60px;
         }
         .textContainer {
             width: 100%;
             h3 {
                font-size: $headerFontSize4; 
                margin-bottom: 20px;
             }
         }
    }

    .surfBackground,
    .harpersTravels,
    .favouriteThings,
    .factoryBackground {
        width: 100%;
    }

    .harpersTravels,
    .favouriteThings {
        h4,
        p {
            text-align: center;
        }
        button {
            width: 100%;
        }
    }


    .surfBackground,
    .factoryBackground,
    .surfImage,
    .factoryImage {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
    }

    .journeyImageContainer {
        width: 50%;
        margin: 0 auto;
    }
    .journeyTextContainer {
        margin: 50px auto;
        width: 90%;
        h3,
        p {
           text-align: center;
        }
        button {
            width: 100%;
        }
    }

    .section5ImageContainer {
        width: 70%;
        margin: 15px auto;
    }
    
    /* Blog Page Media Queries for screens up to 1024px */

    .blogColumns {
        flex-direction: column;
        .column1 {
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }
        .column2 {
            width: 90%;
            padding: 0;
            margin: 40px auto 0 auto;
        }
        .blogPosts,
        .blogFlex {
            width: 100%;
        }
    }

    .blog {
        width: 80%;
        margin: 0 auto;
        .blogImage {
            width: 80%;
            margin: 0 auto;
        }
    }
    
    /* Contact Page Media Queries for screens up to 1024px */

    section {
        padding-top: 0;
    }

    .contactInfo {
        width: 100%;
        padding: 30px 30px;
        margin: 0 auto 30px 0;
    }

    .sectionFlex {
        flex-direction: column;
        margin: 50px auto;
    }
    
    .contactForm {
        margin-left: 0;
        .textarea {
            width: 100%;
            margin: 30px auto;
            
        }
    }
}

/* Media query for screens up to 768px */

@media (max-width: 768px) {
   
    /* Nav Media Queries for screens up to 768px */

    nav ul {
        padding: 20px 0;
        li {
            padding: 0 10px;
        }
    }

    .smallNav {
        h3 {
            display: none;
        }
    }

    /* Home Page Media Queries for screens up to 768px */

    .homePage {
        height: 700px;
        .flex {
            flex-direction: column;
            .imageContainer {
                width: 100%;
                height: 400px;
            }
            .headerContainer {
                width: 100%;
                margin: 0 auto;
            }
            h1 {
                width: 100%;
                margin: 75px auto;
                font-size: $headerFontSize2;
                padding-left: 22vw;
            }
        }
    }

    .imageContainer {
        margin: 0 auto;
        .headerImage {
            position: relative;
            top: 25px;
            width: 100%;
            max-width: 300px;
            z-index: 10;
            box-shadow: 20px 20px white;
            .headerAdjust {
                width: 100%;
                margin: 0 auto;
            }
        }
    
    }

    .flex {
        .position {
            left: -70px;
            bottom: 20px;
            img {
                width: 100px;
            }
        }
    }
    

    /* Blog Media Queries for screens up to 768px */

    .blogForm {
        flex-direction: column;
    }
}

/* Media query for screens up to 480px */

@media (max-width: 480px) {

    /* Home Page media query for screens up to 480px */

    .homePage .flex h1 {
        padding-left: 0;
        margin-top: 120px;
    }

    .flex .position {
        bottom: 0;
        left: -70px;
    }

    /* Blog page media query for screens up to 480px */

    section .contactPosition h2 {
        font-size: $headerFontSize3;
    }

    .blogFlex {
        flex-direction: column;
    }

    form {
        input {
            width: 100%;
            flex-direction: column;
        }
        .email {
            margin: 20px 0 0 0;
        }
    }

    /* Contact Page Media query for screen up to 480px */

    .contactForm {
        input {
        flex-direction: column;
        width: 100%;
        }
    }
    .contactForm .name {
            margin-right: 0;
        }
}