/* Media query for screen sizes up to 1025px */

@media (max-width: 1025px) {

    /* Home Page Media Queries */

    .flex {
        h1 {
            font-size: $headerFontSize2;
            margin-top: 75%;
        }
        .position {
            left: -70px;
            bottom: -180px;
            img {
                width: 100px;
            } 
        }
    }

    .section2,
    .section3,
    .section4 {
        .flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        }
    }

    .iconFlex {
         width: 100%;
         .iconContainer {
             width: 100px;
         }
         .textContainer {
             h3 {
                font-size: $headerFontSize4; 
                margin-bottom: 20px;
             }
         }

    }

    /* Blog Page Media Queries */

    .blogColumns {
        flex-direction: column;
        width: 100%;
        .column1 {
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }
        .column2 {
            width: 90%;
            padding: 0;
            margin: 40px auto 0 auto;
        }
        .blogPosts,
        .blogFlex {
            width: 100%;
        }
    }

    .blog {
        width: 80%;
        margin: 0 auto;
        .blogImage {
            width: 80%;
            margin: 0 auto;
        }
    }
    
    /* Contact Page Media Queries */


    section {
        padding-top: 0;
        .contactPosition h2 {
            font-size: $headerFontSize2;
        }
    }

    .contactInfo {
        width: 100%;
        padding: 30px 30px;
        margin: 0 auto 30px 0;
    }

    .sectionFlex {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    
    .contactForm {
        margin-left: 0;
        .textarea {
            width: 100%;
            margin: 30px auto;
            
        }
    }
}

/* Media query for screens up to 768px */

@media (max-width: 768px) {
   
    /* Nav Media Queries */

    nav ul {
        padding: 20px 0;
        li {
            padding: 0 10px;
        }
    }

    .smallNav {
        h3 {
            display: none;
        }
    }

    /* Home Page Media Queries */

    .homePage {
        height: 700px;
        .flex {
            flex-direction: column;
            .imageContainer {
                width: 100%;
                height: 400px;
            }
            .headerContainer {
                width: 100%;
                margin: 0 auto;
            }
            h1 {
                width: 100%;
                margin: 75px auto;
                font-size: $headerFontSize2;
                padding-left: 22vw;
            }
        }
    }

    .imageContainer {
        .headerImage {
            position: relative;
            top: 25px;
            width: 100%;
            max-width: 300px;
            z-index: 10;
            box-shadow: 20px 20px white;
            .headerAdjust {
                width: 100%;
                margin: 0 auto;
            }
    }
    
    }

    .flex {
        .position {
            left: -70px;
            bottom: 20px;
            img {
                width: 100px;
            }
        }
    }

    /* Blog Media Queries */

    .blogForm {
        flex-direction: column;
    }
}
/* Media query for screens up to 480px */

@media (max-width: 480px) {
    

}