/* Nav Styling */

nav {
    background: $primary3;
    font-family: $headerFont;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 75px;
    z-index: 20;
    ul {
        display: flex;
        padding: 0 40px;
        li {
            list-style: none;
            padding: 0 30px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $black;
            }
    
            a:hover,
            a:focus {
                color: $white;
            }
        }
    }
    
}

.mobile {
   visibility: hidden;
}

h3 {
    font-size: 2.1rem;
    text-transform: uppercase;
    &:hover {
        color: $black;
    }
}
