$accent: #F38D8D;
$primary1: #227284;
$primary2: #68B0C1;
$primary3: #B9DDE7;
$primary4: #F6F6F6;
$black: #171717;
$white: #FFF;
$headerFont: 'Oswald, sans-serif';
$bodyFont: 'Cabin, sans-serif';
$fontSize: 20px;