/* Variables set up for Website */

$accent: #F38D8D;
$primary1: #227284;
$primary2: #68B0C1;
$primary3: #B9DDE7;
$primary4: #F6F6F6;
$black: #171717;
$white: #FFF;
$headerFont: 'Oswald', sans-serif;
$bodyFont: 'Cabin', sans-serif;
$headerFontSize1: 6rem;
$headerFontSize2: 4rem;
$headerFontSize3: 2.1rem;
$headerFontSize4: 1.6rem;
$headerFontSize5: 1.2rem;
$mainFontSize: 1rem;
$letterSpacingFont: 1px;
$letterSpacingBodyFont: 0px;
