html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 1px;
}

p,
ul li {
  letter-spacing: 0px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

p,
.recentPosts ul li {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

.section1,
.section3,
.section5 {
  background: #F6F6F6;
}

button:hover,
button:focus {
  background: #171717;
  color: #FFF;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

nav {
  background: #B9DDE7;
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  z-index: 20;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
}
nav ul li {
  list-style: none;
  padding: 0 30px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #FFF;
}

.mobile {
  visibility: hidden;
}

h3 {
  font-size: 2.1rem;
  text-transform: uppercase;
}
h3:hover {
  color: #171717;
}

/* Header Section for the Home Page Begins */
.homePage {
  background: #B9DDE7;
  height: 60vh;
  min-height: 600px;
  overflow: hidden;
}
.homePage .wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}
.homePage .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homePage .flex .imageContainer {
  width: 45%;
}
.homePage .flex .headerContainer {
  width: 40%;
}

.imageContainer {
  width: calc(85% / 2);
  height: 800px;
}
.imageContainer .headerImage {
  position: absolute;
  top: 125px;
  width: 31%;
  max-width: 475px;
  z-index: 10;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(85% / 2);
}
.headerContainer h1 {
  position: relative;
  bottom: 80px;
  font-size: 6rem;
}
.headerContainer .position {
  position: relative;
  right: 105px;
  bottom: 115px;
}
.headerContainer .position img {
  width: 150px;
}

/* Main Section of the Home Page Begins */
/* Section 1 Begins */
.section1 {
  padding-top: 50px;
}
.section1 .whosHarper {
  padding-top: 60px;
  width: 40%;
  margin-left: 45%;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}
.section1 .whosHarper h3,
.section1 .whosHarper p {
  padding-bottom: 30px;
}

.homeImage2 {
  width: 100%;
}

button {
  background: #F38D8D;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
}

/* Section 2 of Home Page Begins */
.section2 {
  height: 100%;
  padding-bottom: 50px;
  background: #F6F6F6;
}

.flex,
.iconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconFlex {
  width: 50%;
  padding-bottom: 50px;
}
.iconFlex .iconContainer {
  background: #B9DDE7;
  height: 45px;
  width: 150px;
  border-radius: 50%;
}
.iconFlex .iconContainer i {
  position: relative;
  left: 30%;
  top: 30%;
}
.iconFlex .textContainer {
  padding-left: 25px;
}

/* Section 3 of Home Page Begins */
.section3,
.section5 {
  background: #FFF;
}

.section3 {
  padding-top: 0;
  position: relative;
  bottom: 15px;
}

.surfBackground {
  position: relative;
  width: 50%;
  height: 360px;
  background: #68B0C1;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.surfBackground .surfImage {
  max-width: 600px;
  position: absolute;
  right: 120px;
  bottom: 15px;
}
.surfBackground .surfImage .surf {
  width: 100%;
  position: relative;
  left: 100px;
}

.harpersTravels {
  width: 40%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.harpersTravels h4,
.harpersTravels p,
.harpersTravels button {
  margin: 0 0 30px 80px;
}
.harpersTravels h4 {
  padding-top: 50px;
}
.harpersTravels button {
  position: relative;
  bottom: 0;
}

.favouriteThings {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-left: 7.5%;
}
.favouriteThings h4,
.favouriteThings p {
  padding: 0 60px 40px 0;
}
.favouriteThings h4 {
  padding-top: 50px;
}
.favouriteThings button {
  margin: 0 0 50px 50%;
}

.factoryBackground {
  position: relative;
  top: 100px;
  width: 50%;
  height: 360px;
  background: #B9DDE7;
}
.factoryBackground .factoryImage {
  position: absolute;
  max-width: 600px;
  width: 90%;
}
.factoryBackground .factoryImage .factory {
  position: relative;
  right: 25px;
  bottom: 35px;
  width: 100%;
}

/* Section 4 of Home Page Begins */
.section4 {
  padding: 100px 0;
}

.journeyImageContainer {
  width: 30%;
}
.journeyImageContainer .journeyImage {
  width: 100%;
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}
.journeyImageContainer .journeyImage .building {
  width: 100%;
}

.journeyTextContainer {
  width: 70%;
  margin-left: 50px;
}
.journeyTextContainer p,
.journeyTextContainer button {
  margin-top: 35px;
}

/* Section 5 of Home Page Begins additional text */
.section5 {
  padding: 75px 0;
}

.section5ImageContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 20px);
}
.section5ImageContainer .sectFiveImage {
  width: 100%;
  padding: 20px;
}

/* Header Section */
.blogPageImageContainer {
  width: 100%;
  height: 360px;
}
.blogPageImageContainer img {
  width: 100%;
}

/* Main Section of Blog Begins */
body {
  background: #F6F6F6;
  padding-bottom: 50px;
}

.blogTitle {
  height: 1rem;
}
.blogTitle h2 {
  position: relative;
  bottom: 110px;
}

.blogColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column1 {
  width: 30%;
}
.column1 .blogImageContainer {
  background: #FFF;
  padding: 30px;
  width: 100%;
}
.column1 .blogImageContainer .image {
  width: 100%;
  margin: 0;
}
.column1 .blogImageContainer h5 {
  padding-top: 10px;
}

.recentPosts {
  width: 100%;
  background: #FFF;
  margin-top: 20px;
}
.recentPosts ul {
  margin-left: 30px;
}

.column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  padding-top: 0;
  width: 70%;
}

.recentPosts,
.blogPosts {
  padding: 30px;
}

.blogPosts {
  background: #FFF;
  margin-bottom: 40px;
}
.blogPosts h4 {
  padding-bottom: 20px;
}

.blogImageContainer p,
.blogPosts p {
  padding: 10px 0;
  font-family: "Cabin", sans-serif;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogFlex .blog p {
  padding-left: 20px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  width: 49%;
  height: 60px;
  padding-left: 20px;
}
form .email {
  margin-left: 2%;
}
form .textarea {
  width: 100%;
  height: 300px;
  margin: 20px 0;
}

form button {
  width: 100%;
}

textarea {
  width: 100%;
  height: 300px;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  resize: none;
}

/* Main Section of Blog ends */
/* Header Section of Contact Page Styling */
.contactPageImageContainer {
  height: 360px;
}
.contactPageImageContainer img {
  width: 100%;
}

section {
  background: #F6F6F6;
  padding-top: 50px;
  margin: 0;
}
section .contactPosition h2 {
  position: relative;
  bottom: 115px;
}

.sectionFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactInfo {
  background: #FFF;
  padding-top: 50px;
  width: 45%;
  height: 320px;
}
.contactInfo .contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 20px 0 10px 30px;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.contactIcons li {
  font-size: 1.5rem;
  padding-right: 30px;
}
.contactIcons i {
  color: #227284;
}

.contactAddress {
  padding: 30px;
}
.contactAddress ul {
  list-style: none;
  padding: 0;
  color: #171717;
  font-family: "Cabin", sans-serif;
}
.contactAddress ul li {
  padding-bottom: 15px;
}
.contactAddress ul ul:first-child {
  font-weight: 800;
}

.contactForm {
  margin-left: 40px;
}
.contactForm input {
  width: calc(100% / 2 - 2%);
}
.contactForm .name {
  margin-right: 2%;
}
.contactForm .textarea {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #171717;
  color: #FFF;
  height: 50px;
  padding: 10px 0;
}
footer i {
  font-size: 1rem;
}

footer p {
  padding: 0;
  margin: 10px auto;
}

/* Media query for screen sizes up to 1025px */
@media (max-width: 1025px) {
  /* Home Page Media Queries */
  .homepage .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  /* Blog Page Media Queries */
  /* Contact Page Media Queries */
  section {
    padding-top: 0;
  }
  section .contactPosition h2 {
    font-size: 2.1rem;
    bottom: 140px;
  }

  .contactInfo {
    width: 90%;
    padding: 30px 30px;
    margin: 0 auto 30px;
  }

  .sectionFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .contactForm {
    margin-left: 0;
  }
  .contactForm .textarea {
    width: 100%;
    margin: 30px auto;
  }
}
/* Media query for screens up to 768px */
@media (max-width: 768px) {
  /* Nav Media Queries */
}
/* Media query for screens up to 480px */
@media (max-width: 480px) {
  nav ul {
    padding: 20px 0 5px 5px;
  }
  nav ul h3 {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4rem;
  }
}