/* Importing of various SASS files */
/* Variables set up for Website */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 1px;
}

p,
ul li {
  letter-spacing: 0px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

p,
.recentPosts ul li {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

.section1,
.section3,
.section5 {
  background: #F6F6F6;
}

button:hover,
button:focus {
  background: #171717;
  color: #FFF;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

/* Nav Styling */
nav {
  background: #B9DDE7;
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  z-index: 20;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
}
nav ul li {
  list-style: none;
  padding: 0 30px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #FFF;
}

.mobile {
  visibility: hidden;
}

h3 {
  font-size: 2.1rem;
  text-transform: uppercase;
}
h3:hover {
  color: #171717;
}

/* Header Section for the Home Page Begins */
.homePage {
  background: #B9DDE7;
  height: 60vh;
  min-height: 600px;
  overflow: hidden;
}
.homePage .wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}
.homePage .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homePage .flex .imageContainer {
  width: 45%;
}
.homePage .flex .headerContainer {
  width: 40%;
}

.imageContainer {
  width: calc(85% / 2);
  height: 100%;
}
.imageContainer .headerImage {
  position: absolute;
  top: 125px;
  width: 31%;
  max-width: 475px;
  z-index: 10;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(85% / 2);
}
.headerContainer h1 {
  margin-top: 60%;
  font-size: 6rem;
}
.headerContainer .position {
  position: relative;
  bottom: -205px;
  left: -105px;
  width: 100%;
  height: 100%;
}
.headerContainer .position img {
  width: 150px;
}

/* Main Section of the Home Page Begins */
/* Section 1 Begins */
.section1 {
  padding-top: 50px;
  margin-bottom: 100px;
}
.section1 .whosHarper {
  padding-top: 40px;
  width: 40%;
  margin: 0 0 50px 45%;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}
.section1 .whosHarper h3,
.section1 .whosHarper p {
  padding-bottom: 30px;
}

.homeImage2 {
  width: 100%;
}

button {
  background: #F38D8D;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
}

/* Section 2 of Home Page Begins */
.section2 {
  height: 100%;
  padding-bottom: 50px;
  background: #F6F6F6;
}

.flex,
.iconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconFlex {
  width: 100%;
  padding-bottom: 50px;
}
.iconFlex .iconContainer {
  background: #B9DDE7;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.iconFlex .iconContainer i {
  position: relative;
  left: 30%;
  top: 30%;
}
.iconFlex .textContainer {
  padding: 5px 15px;
  width: 100%;
  margin-bottom: 30px;
}
.iconFlex .textContainer h4 {
  margin-bottom: 30px;
}

/* Section 3 of Home Page Begins */
.section3,
.section5 {
  background: #FFF;
}

.section3 {
  padding-top: 0;
  position: relative;
  bottom: 15px;
}

.surfBackground {
  position: relative;
  bottom: 25px;
  width: 50%;
  background: #227284;
  margin-bottom: 50px;
}
.surfBackground .surfImage {
  position: relative;
  right: -50px;
  bottom: 15px;
  width: 90%;
}
.surfBackground .surfImage .surf {
  width: 100%;
}

.harpersTravels,
.favouriteThings {
  width: 50%;
  padding: 80px;
}
.harpersTravels h4,
.harpersTravels p,
.favouriteThings h4,
.favouriteThings p {
  padding-bottom: 30px;
}

.factoryBackground {
  position: relative;
  top: 40px;
  width: 50%;
  background: #B9DDE7;
}
.factoryBackground .factoryImage {
  position: relative;
  right: 26px;
  bottom: 19px;
  width: 90%;
}
.factoryBackground .factoryImage .factory {
  width: 100%;
}

/* Section 4 of Home Page Begins */
.section4 {
  padding: 125px 0;
}

.journeyImageContainer {
  width: 30%;
}
.journeyImageContainer .journeyImage {
  width: 100%;
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}
.journeyImageContainer .journeyImage .building {
  width: 100%;
}

.journeyTextContainer {
  width: 70%;
  margin-left: 50px;
}
.journeyTextContainer p,
.journeyTextContainer button {
  margin-top: 35px;
}

/* Modal is hidden by default and only shows when clicked on the 'Find out more' button */
.myModal {
  display: none;
  position: relative;
  z-index: 10;
  left: 0;
  top: 0;
  margin-top: 50px;
  width: 100%;
  height: 70%;
  border: 4px solid #B9DDE7;
}

.moreContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.imageSize {
  width: 100%;
}

.closeModal {
  position: relative;
  top: 15px;
  right: 10px;
  color: #171717;
  font-size: 1.6rem;
  font-weight: 800;
}

.closeModal:hover,
.closeModal:focus {
  color: #F38D8D;
}

.moreContent img,
.moreContent p {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Section 5 of Home Page Begins */
.section5 {
  padding: 75px 0;
}

.section5ImageContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 20px);
  margin-right: 20px;
}
.section5ImageContainer .sectFiveImage {
  width: 100%;
}

/* Blog Page Header Styling*/
.blogPageImageContainer {
  width: 100%;
}
.blogPageImageContainer img {
  width: 100%;
}

/* Blog Page Main Styling */
body {
  background: #F6F6F6;
  padding-bottom: 50px;
}

.blogTitle {
  height: 1rem;
}
.blogTitle h2 {
  position: absolute;
  top: 26vw;
}

.blogColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.column1 {
  width: 30%;
}
.column1 .blogImageContainer {
  background: #FFF;
  padding: 30px;
  width: 100%;
}
.column1 .blogImageContainer .image {
  width: 100%;
  margin: 0;
}
.column1 .blogImageContainer h5 {
  padding-top: 10px;
}

.recentPosts {
  width: 100%;
  background: #FFF;
  margin-top: 20px;
}
.recentPosts ul {
  margin-left: 30px;
}

.column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  padding-top: 0;
  width: 70%;
}

.recentPosts,
.blogPosts {
  padding: 30px;
}

.blogPosts {
  background: #FFF;
  margin-bottom: 40px;
}
.blogPosts h4 {
  padding-bottom: 20px;
}

.border {
  border-bottom: 5px solid #227284;
}

.blogImageContainer p,
.blogPosts p {
  padding: 10px 0;
  font-family: "Cabin", sans-serif;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogFlex .blog p {
  padding-left: 20px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 49%;
  height: 60px;
  padding-left: 20px;
}
form .email {
  margin-left: 2%;
}
form .textarea {
  width: 100%;
  height: 300px;
  border: none;
  margin: 20px 0;
  resize: none;
}

form button {
  width: 100%;
  margin-bottom: 20px;
}

input,
.textarea {
  font-family: "Cabin", sans-serif;
  vertical-align: top;
}

/* Contact Page Styling */
.contactPageImageContainer img {
  width: 100%;
}

section {
  background: #F6F6F6;
  padding-top: 50px;
  margin: 0;
}
section .contactPosition h2 {
  position: absolute;
  top: 26vw;
}

.sectionFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.contactInfo {
  background: #FFF;
  padding-top: 50px;
  width: 45%;
  height: 320px;
}
.contactInfo .contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 20px 0 10px 30px;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.contactIcons li {
  font-size: 1.5rem;
  padding-right: 30px;
}
.contactIcons i {
  color: #227284;
}

.contactAddress {
  padding: 30px;
}
.contactAddress ul {
  list-style: none;
  padding: 0;
  color: #171717;
  font-family: "Cabin", sans-serif;
}
.contactAddress ul li {
  padding-bottom: 15px;
}
.contactAddress ul ul:first-child {
  font-weight: 800;
}

.contactForm {
  margin-left: 40px;
}
.contactForm input {
  width: calc(100% / 2 - 2%);
}
.contactForm .name {
  margin-right: 2%;
}
.contactForm .textarea {
  width: 100%;
}

/* Footer Styling */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #171717;
  color: #FFF;
  height: 50px;
  padding: 10px 0;
}
footer i {
  font-size: 1rem;
}

footer p {
  padding: 0;
  margin: 10px auto;
}

/* Media query for screen sizes up to 1024px */
@media (max-width: 1024px) {
  /* Home Page Media Queries for screens up to 1024px */
  .flex h1 {
    font-size: 4rem;
    margin-top: 75%;
  }
  .flex .position {
    left: -70px;
    bottom: -180px;
  }
  .flex .position img {
    width: 100px;
  }

  .section2 .flex,
.section3 .flex,
.section4 .flex,
.section5 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .section1 .whosHarper {
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
  .section1 .whosHarper button {
    margin-bottom: 50px;
  }

  .iconFlex {
    width: 100%;
  }
  .iconFlex .iconContainer {
    width: 60px;
  }
  .iconFlex .textContainer {
    width: 100%;
  }
  .iconFlex .textContainer h3 {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .surfBackground,
.harpersTravels,
.favouriteThings,
.factoryBackground {
    width: 100%;
  }

  .harpersTravels h4,
.harpersTravels p,
.favouriteThings h4,
.favouriteThings p {
    text-align: center;
  }
  .harpersTravels button,
.favouriteThings button {
    width: 100%;
  }

  .surfBackground,
.factoryBackground,
.surfImage,
.factoryImage {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
  }

  .journeyImageContainer {
    width: 50%;
    margin: 0 auto;
  }

  .journeyTextContainer {
    margin: 50px auto;
    width: 90%;
  }
  .journeyTextContainer h3,
.journeyTextContainer p {
    text-align: center;
  }
  .journeyTextContainer button {
    width: 100%;
  }

  .section5ImageContainer {
    width: 70%;
    margin: 15px auto;
  }

  /* Blog Page Media Queries for screens up to 1024px */
  .blogColumns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogColumns .column1 {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .blogColumns .column2 {
    width: 90%;
    padding: 0;
    margin: 40px auto 0 auto;
  }
  .blogColumns .blogPosts,
.blogColumns .blogFlex {
    width: 100%;
  }

  .blog {
    width: 80%;
    margin: 0 auto;
  }
  .blog .blogImage {
    width: 80%;
    margin: 0 auto;
  }

  /* Contact Page Media Queries for screens up to 1024px */
  section {
    padding-top: 0;
  }

  .contactInfo {
    width: 100%;
    padding: 30px 30px;
    margin: 0 auto 30px 0;
  }

  .sectionFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px auto;
  }

  .contactForm {
    margin-left: 0;
  }
  .contactForm .textarea {
    width: 100%;
    margin: 30px auto;
  }
}
/* Media query for screens up to 768px */
@media (max-width: 768px) {
  /* Nav Media Queries for screens up to 768px */
  nav ul {
    padding: 20px 0;
  }
  nav ul li {
    padding: 0 10px;
  }

  .smallNav h3 {
    display: none;
  }

  /* Home Page Media Queries for screens up to 768px */
  .homePage {
    height: 700px;
  }
  .homePage .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homePage .flex .imageContainer {
    width: 100%;
    height: 400px;
  }
  .homePage .flex .headerContainer {
    width: 100%;
    margin: 0 auto;
  }
  .homePage .flex h1 {
    width: 100%;
    margin: 75px auto;
    font-size: 4rem;
    padding-left: 22vw;
  }

  .imageContainer {
    margin: 0 auto;
  }
  .imageContainer .headerImage {
    position: relative;
    top: 25px;
    width: 100%;
    max-width: 300px;
    z-index: 10;
    -webkit-box-shadow: 20px 20px white;
            box-shadow: 20px 20px white;
  }
  .imageContainer .headerImage .headerAdjust {
    width: 100%;
    margin: 0 auto;
  }

  .flex .position {
    left: -70px;
    bottom: 20px;
  }
  .flex .position img {
    width: 100px;
  }

  /* Blog Media Queries for screens up to 768px */
  .blogForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* Media query for screens up to 480px */
@media (max-width: 480px) {
  /* Home Page media query for screens up to 480px */
  .homePage .flex h1 {
    padding-left: 0;
    margin-top: 120px;
  }

  .flex .position {
    bottom: 0;
    left: -70px;
  }

  /* Blog page media query for screens up to 480px */
  .blogTitle h2 {
    font-size: 2.1rem;
  }

  .blogFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  form input {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .email {
    margin: 20px 0 0 0;
  }

  /* Contact Page Media query for screen up to 480px */
  .contactPosition h2 {
    font-size: 2.1rem;
  }

  .contactForm input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .contactForm .name {
    margin-right: 0;
  }
}